@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body{
    background: #000000;
    color: #ffffff;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    box-sizing: border-box;
}
.header{
    margin: 5% 0 0 0;
}
.center{
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.navbar a{
    text-decoration: none;
    color: #ffffff;
}
.main-ft{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-top: 5%;
}
.sreyas-ft{
    background: linear-gradient(90deg,#4ca5ff 2.34%,#b673f8 100.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub-ft{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: -2% 0 0 0;
    color: rgb(163 179 188);
}
.footer{
    margin: 20% 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.footer .end-ft{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
}
.footer .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
}
.footer img{
    width: 30px;
    height: 30px;
    -webkit-filter: grayscale(1);
}
.footer img:hover{
    -webkit-filter: grayscale(0);
}

/* media queries */
@media screen and (max-width:600px) {
    .footer{
        flex-direction: column;
    }
}