@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body{
    background: #000000;
    color: #ffffff;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    box-sizing: border-box;
}
.header{
    margin: 5% 0 0 0;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.navbar a{
    text-decoration: none;
    color: #ffffff;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5%;
    
}
.projects h2{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 400;
}
.projects-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 75%;
    gap: 2%;
}
.projects img{
    max-width: 50%;
    height: auto;
    margin-top: 2%;
    border: 2px solid gray;
    border-radius: 10px;
    -webkit-filter: grayscale(50%);
}
.projects img:hover{
    -webkit-filter: grayscale(0);
    
}

/* media queries */
@media screen and (max-width:960px) {
    .projects-container{
        flex-direction: column;
    }
    .projects img{
        max-width: 90%;
        margin-top: 10%;
    }
}